@charset "UTF-8";

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin: 10px 0;
}

.img-square-10{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 10rem;
}
.img-square{
    aspect-ratio: 1/1;
    object-fit: cover;
}